div {
    position: relative;
    box-sizing: border-box;
    left: 20px;
    top: 100px;
    display:block;
    width: 800px;
    height: 500px;
    background-color:linen;
    border : 1px dotted blue;
}